@using Frontend.Resource;
@{
    ViewData["Title"] = "List Refuse";
    Layout = "_Layout";
}
<style>
    .btn-header {
        min-width: 100px;
        margin-bottom: 10px;
        padding: 3px;
    }
</style>

<div class="row clearfix">
    <div class="col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h2>
                    @Resource.lbl_header_order
                </h2>
            </div>
            <div class="body">
                <form id="frmFilter" method="post" class="formsearch">
                    <div class="row" style="justify-content: space-between;">
                        <div class="col-md-1 col-sm-1 col-xs-1 col-xl-1 col-lg-1" style="display: inline-grid;">
                            <button type="submit" class="btn btn-sm btn-header bg-aeon waves-effect">
                                <i class="material-icons">search</i>
                                <span>@Resource.btn_search</span>
                            </button>
                            <button type="reset" class="btn btn-sm btn-header bg-cyan waves-effect" onclick="resetForm(this.form,'tableorder')">
                                <i class="material-icons">refresh</i>
                                <span>@Resource.btn_clear</span>
                            </button>
                            <button type="button" class="btn btn-sm btn-header bg-aeon waves-effect" onclick="Export()">
                                <i class="material-icons">file_download</i>
                                <span>@Resource.btn_export</span>
                            </button>
                        </div>
                        <div class="col-md-10">
                            <!--Supplier name / Department Code-->
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2 col-xl-2">
                                    <label>@Resource.lbl_store_title</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control frmFilter" id="store_reference" name="store_reference">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2 col-xl-2">
                                    <label>@Resource.lbl_line_code</label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-xl-4">
                                    <div class="form-group">
                                        <div class="form-line selectlist">
                                            <select class="form-control frmFilter" id="line_reference" name="line_reference">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Delivery Status / Receipt Status-->
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2 col-xl-2">
                                    <label>@Resource.lbl_register_supplier_no</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input class="form-control frmFilter" id="supplier_code" name="supplier_code" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2 col-xl-2">
                                    <label>@Resource.lbl_time</label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-xl-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input class="form-control frmFilter" type="date" id="date_from" name="date_from" />
                                            </div>
                                            <div class="col-md-6">
                                                <input class="form-control frmFilter" type="date" id="date_to" name="date_to" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Store / time-->
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2 col-xl-2">
                                    <label>@Resource.lbl_register_supplier_name</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input class="form-control frmFilter" id="supplier_name" name="supplier_name" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="tableorder" class="table table-bordered table-striped table-hover dataTable js-exportable" style="min-width:100%;">
                            <thead>
                                <tr>
                                    <th>@Resource.lbl_no</th>
                                    <th>@Resource.lbl_line_code</th>
                                    <th>@Resource.lbl_register_supplier_no</th>
                                    <th>@Resource.lbl_register_supplier_name</th>
                                    <th>@Resource.lbl_store_title</th>
                                    <th>@Resource.lbl_date</th>
                                    <th>@Resource.lbl_command</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var sTable;
    $(document).ready(function() {
        callApi_multipleselect(
            '#store_reference', '@Html.Raw(Resource.lbl_choose_store)',
            apiConfig.api.host_user_service,
            apiConfig.api.store.controller,
            apiConfig.api.store.action.dropdown_store.path,
            false
        );

        callApi_multipleselect(
            '#line_reference', '@Html.Raw(Resource.lbl_choose_line)',
            apiConfig.api.host_booking_service,
            apiConfig.api.line.controller,
            apiConfig.api.line.action.dropdown_line.path,
            false
        );
        var customRow = [
            {
                "targets": [0, 6],
                "width": "1%",
            },
            {
                "targets": 2,
                "width": "10%",
            },
            {
                orderable: false, targets: [0, 1, 2, 3, 4, 5, 6]
            }
        ];
        sTable = initDataTable("#tableorder", apiConfig.api.host_booking_service + apiConfig.api.order.controller + apiConfig.api.order.action.table_order_refuse.path, customRow);
        $('#frmFilter').submit(function(e) {
            e.preventDefault();
            sTable.draw();
        });
    });

    function ShowDetail(reference_id) {
        window.location.href = "/Refuse/Detail?reference_id=" + reference_id;
    }

    function Print(reference_id) {
        var mywindow = window.open('/Refuse/Print?reference_id=' + reference_id, 'PRINT', 'height = 700, width = 1000');
        return true;
    }

    function Export() {
        var search = $('#frmFilter').serialize();
        var lang = $("#culture_RequestCulture_UICulture_Name").val();
        var request = new XMLHttpRequest();
        request.responseType = "blob";
        request.open("GET", apiConfig.api.host_booking_service + apiConfig.api.order.controller +
            apiConfig.api.order.action.export_order_refuse.path + "?" + search + "&lang=" + lang);
        request.setRequestHeader('Authorization', getSessionToken());
        request.setRequestHeader('x-api-key', API_KEY);
        request.onload = function() {
            if (this.status == 200) {
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(this.response);
                var time = moment().format("YYYYMMDDHHmmssfff");
                link.download = `OrderRefuse-${time}.xlsx`;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
            if (this.status == 400) {
                toastr.error(localizationResources.error400, localizationResources.lbl_error);
            }

        }
        request.send();
    }
</script>