@using Frontend.Resource
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Booking App</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <base href="/" />
    <!-- FontAwesome JS-->
    <!-- App CSS -->

    <script src="~/lib/jquery/jquery.min.js"></script>
    <link href="~/assets/plugins/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/portal.css" />
    <link rel="stylesheet" href="~/assets/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    @*<link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/datatables.net-bs5/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-sweetalert/sweetalert.css">
    @*<link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap.min.css">*@
    <link rel="stylesheet" href="~/lib/select2//css/select2.min.css">
    <link rel="stylesheet" href="~/lib/animate.css/animate.css">
    @*<link rel="stylesheet" href="~/lib/autosize/autosize.css">*@
    <link rel="stylesheet" href="~/assets/plugins/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/css/style.css">
    <script defer src="~/js/all.min.js"></script>
    <script src="~/js/custom.js"></script>

    <style>
        #banner {
            margin-top: -4.3em;
            margin-left: 1.1em;
            color: white;
            margin-right: -7em
        }

        #title-banner {
            margin-top: -3.3em;
            margin-left: 1em;
            color: white;
            margin-right: -5em;
        }

        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

        .app-nav-main {
            position: relative;
            background: url(/img/pink-love-backgrounds.jpg) no-repeat;
            background-position: initial;
            background-size: inherit;
        }

        #menu-accordion {
            position: relative;
        }

    </style>
</head>

<body class="app">
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <header class="app-header fixed-top">
        <div class="app-header-inner">
            @{
                await Html.RenderPartialAsync("_UserInfo");
            }
        </div><!--//app-header-inner-->
        <div id="app-sidepanel" class="app-sidepanel">
            @{
                await Html.RenderPartialAsync("_MenuLeft", "Home");
            }
        </div><!--//app-sidepanel-->
    </header><!--//app-header-->

    <div class="app-wrapper">

        @RenderBody()

    </div><!--//app-wrapper-->
    @*	<script src="~/assets/js/charts-demo.js"></script>
    <script src="~/assets/js/index-charts.js"></script>
    <script src="~/assets/plugins/popper.min.js"></script>*@

    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/plugins/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.dataTables.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/toastr/toastr.min.js"></script>
    <script src="~/lib/bootstrap-sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/js/api.construct.js"></script>
    <script src="~/js/common.js"></script>

    <!-- Javascript -->
    @RenderSection("Scripts", false)

    <script>
        hideLoading();
        var API_KEY = '@((Configuration["UseEnv"] ?? "0") == "0" ? Configuration["API_KEY"] : Environment.GetEnvironmentVariable("API_KEY"))';
        var AZURE_STORAGE_URL = '@((Configuration["UseEnv"] ?? "0") == "0" ? Configuration["azure_storage_url"] : Environment.GetEnvironmentVariable("AZURE_STORAGE_DOMAIN"))';
        var USER_SERVICE = '@((Configuration["UseEnv"] ?? "0") == "0" ? Configuration["host_user_service"] : Environment.GetEnvironmentVariable("HOST_SERVICE"))';
        var BOOKING_SERVICE = '@((Configuration["UseEnv"] ?? "0") == "0" ? Configuration["host_booking_service"] : Environment.GetEnvironmentVariable("HOST_BOOKING"))';
        var localizationResources = {
            'lbl_error': '@Html.Raw(Resource.lbl_error)',
            'lbl_warning': '@Html.Raw(Resource.lbl_warning)',
            'error401': '@Html.Raw(Resource.error401)',
            'error400': '@Html.Raw(Resource.error400)',
            'USER_NOT_FOUND': '@Html.Raw(Resource.USER_NOT_FOUND)',
            'USER_IS_EXIST': '@Html.Raw(Resource.USER_IS_EXIST)',
            'STORE_IS_EXIST': '@Html.Raw(Resource.STORE_IS_EXIST)',
            'ORDER_MAX_AMOUNT': '@Html.Raw(Resource.ORDER_MAX_AMOUNT)',
            'errorServer': '@Html.Raw(Resource.errorServer)',
            'lbl_phone_invalid': '@Html.Raw(Resource.lbl_phone_invalid)',
            'lbl_email_invalid': '@Html.Raw(Resource.lbl_email_invalid)',
            'lbl_delivered_full': '@Html.Raw(Resource.lbl_delivered_full)',
            'lbl_delivered_partialy': '@Html.Raw(Resource.lbl_delivered_partialy)',
            'lbl_delivered_not': '@Html.Raw(Resource.lbl_delivered_not)',
            'lbl_delivered_return': '@Html.Raw(Resource.lbl_delivered_return)',
            'lbl_receipt_full': '@Html.Raw(Resource.lbl_receipt_full)',
            'lbl_receipt_missing': '@Html.Raw(Resource.lbl_receipt_missing)',
            'lbl_receipt_return': '@Html.Raw(Resource.lbl_receipt_return)',
            'TIMEFRAME_IS_EXIST': '@Html.Raw(Resource.TIMEFRAME_IS_EXIST)',
            'TIMEFRAME_NOT_FOUND': '@Html.Raw(Resource.TIMEFRAME_NOT_FOUND)',
            'LINE_NOT_FOUND': '@Html.Raw(Resource.LINE_NOT_FOUND)',
            'DEPARTMENT_NOT_FOUND': '@Html.Raw(Resource.DEPARTMENT_NOT_FOUND)',
            'ERROR_TIMEFROM_TIMETO': '@Html.Raw(Resource.ERROR_TIMEFROM_TIMETO)',
            'SYSTEM_PARAMETER_NOT_FOUND': '@Html.Raw(Resource.SYSTEM_PARAMETER_NOT_FOUND)',
        };
        function logout() {
            $.ajax({
                method: "GET",
                url: "/Authenticate/Logout",
                success: function(result) {
                    sessionStorage.clear();
                    localStorage.clear();
                    window.location.href = "/Authenticate";
                }
            });
        }
        function ChangeLanguage(key_value) {
            $.ajax({
                method: "POST",
                url: "/Authenticate/ChangeLanguage",
                data: { key_value: key_value, },
                success: function(data) {
                    if (data.result) {
                        location.reload();
                    }
                }
            });
        }
    </script>
    <script src="~/js/api.function.js"></script>
    <!-- Charts JS -->
    <!-- Page Specific JS -->
    @RenderSection("jsFooter", false)
</body>
</html>

