@using Frontend.Resource
@{
    ViewData["Title"] = "AddQuick";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 class="pull-left">@Resource.lbl_header_time_frame.ToLower()</h2>
            </div>
            <div class="body clearfix">
                <form id="form_data" class="formsubmit formdata" method="post" action="" enctype="multipart/form-data">
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-6" style="border-right: 1px solid #d8d5d5;">
                            <div style="padding-right:30px;">
                                <div class="col-md-12 no-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="required">@Resource.lbl_store_title</label>
                                            <div class="form-group">
                                                <div class="form-line selectlist">
                                                    <select class="form-control frmData" required id="store_ref" name="store_ref" style="width:100%">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div style="display: flex;">
                                                <div class="col-md-5">
                                                    <label>Giờ bắt đầu</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input class="form-control frmGenData" required type="time" id="time_start" name="time_start" style="width:100%" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-5">
                                                    <label >Giờ kết thúc</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input class="form-control frmGenData" required type="time" id="time_end" name="time_end" style="width:100%" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="padding-left:30px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="required">@Resource.lbl_supplier</label>
                                        <div class="form-group">
                                            <div class="form-line selectlist">
                                                <input class="form-control frmData" required type="number" id="amount" name="amount" min="1" style="width:100%" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <label>Key</label><span style="color:red"><i>&nbsp; (Khoảng thời gian giữa các khung giờ. Đơn vị phút) </i></span>
                                            <div class="form-group">
                                                <div class="form-line selectlist">
                                                    <input class="form-control frmGenData" required type="number" id="KeyNumber" name="KeyNumber" min="1" style="width:100%" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <a class="btn bg-aeon waves-effect" href="javascript:void(0);" onclick="Generate()">@Resource.btn_generate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-12">
                            <div class="col-md-12 no-padding">
                                <label style="text-transform: uppercase;"><b>@Resource.lbl_result_generate</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-6">
                            <div style="padding-right:30px;">
                                <div class="col-md-12 no-padding">
                                    <div class="row" id="generateData">
                                        <div class="col-md-12">
                                            <div style="display: flex;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <div>
                        <button type="button" onclick="GoBack()" class="btn waves-effect" style="margin-right:5px">Back</button>
                        <button type="button" class="btn bg-aeon waves-effect" onclick="Save()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            GetStore("#store_ref");
        })

        function GetStore(selector) {
            callApi_multipleselect(
                selector, '@Html.Raw(Resource.lbl_choose_store)',
                apiConfig.api.host_user_service,
                apiConfig.api.store.controller,
                apiConfig.api.store.action.dropdown_store.path,
                false
            );
        }

        var required_mgs = '<label id="name-error" class="error">@Html.Raw(Resource.lbl_required)</label>';
        function Save() {
            var data = [];
            var $filter = $('#form_data').find('.frmData');
            $.each($filter, function (i, o) {
                data.push({ "name": $(o).attr('name'), "value": $(o).val() });
            });
            var obj = {};
            $("label.error").remove();
            $(".error").removeClass("error");
            var checkvalidate = false;
            for (var key of data) {

                if ($("#" + key.name).prop("required") && (key.value == null || key.value.toString().trim() == "")) {
                    $("#" + key.name).parent().addClass("error");
                    $("#" + key.name).parent().parent().append(required_mgs);
                    checkvalidate = true;
                }
                obj[key.name] = key.value;
            }
            $dataGen = [];
            var $data_generate = $('#generateData').find('.data-generate');
            $.each($data_generate, function (i, o) {
                $dataGen.push(
                { 
                    "time_from": $(o).find('.time_from').val(),
                    "time_to": $(o).find('.time_to').val()
                });
            });
            obj["list_data"] = $dataGen
            //if (!checkvalidate) {
            //    PostBody(apiConfig.api.host_user_service,
            //        apiConfig.api.timeframe.controller,
            //        apiConfig.api.timeframe.action.add_timeframe.path,
            //        apiConfig.api.timeframe.action.add_timeframe.method,
            //        obj,
            //        'fnAddSuccess', 'msgError');
            //    return;
            //}
        }

        function fnAddSuccess(result) {
            toastr.success('@Html.Raw(Resource.lbl_addSuccess)', '@Html.Raw(@Resource.lbl_noti)');
            setTimeout(function () {
                window.location.href = '/TimeFrame'
            }, 600)
        }

        function GoBack() {
            window.location.href = '/TimeFrame'
        }
        let myArray = [];
        function Generate() {
            var data = [];
            var $filter = $('#form_data').find('.frmGenData');
            $.each($filter, function (i, o) {
                data.push({ "name": $(o).attr('name'), "value": $(o).val() });
            });
            var obj = {};
            $("label.error").remove();
            $(".error").removeClass("error");
            var checkvalidate = false;
            for (var key of data) {
                if ($("#" + key.name).prop("required") && (key.value == null || key.value.toString().trim() == "")) {
                    $("#" + key.name).parent().addClass("error");
                    $("#" + key.name).parent().parent().append(required_mgs);
                    checkvalidate = true;
                }
                obj[key.name] = key.value;
            }
            if (!checkvalidate) {
                myArray = [];
                var start_index = $('#form_data').find('#time_start').val(), 
                    end_index = $('#form_data').find('#time_end').val(), 
                    keyAdd = $('#form_data').find('#KeyNumber').val();

                var moment_end = moment(end_index, 'hh:mm');
                debugger
                myArray = myLoop(start_index, keyAdd, moment_end);
                var html_append = '';
                for (let i = 0; i < myArray.length; ++i) {
                    var item_elemt = myArray[i];
                  
                    html_append += '<div class="col-md-12 data-generate">';
                    html_append += '	<div style="display: flex;">';
                    html_append += '		<div class="col-md-5">';
                    html_append += '			<div class="form-group">';
                    html_append += '				<div class="form-line">';
                    html_append += '					<input class="form-control time_from"  type="time" id="time_from" name="time_from" style="width:100%" value=' + item_elemt.start_elment + ' />';
                    html_append += '				</div>';
                    html_append += '			</div>';
                    html_append += '		</div>';
                    html_append += '		<div class="col-md-2">';
                    html_append += '		</div>';
                    html_append += '		<div class="col-md-5">';
                    html_append += '			<div class="form-group">';
                    html_append += '				<div class="form-line">';
                    html_append += '					<input class="form-control time_to"  type="time" id="time_to" name="time_to"  style="width:100%"  value=' + item_elemt.end_elment + ' />';
                    html_append += '				</div>';
                    html_append += '			</div>';
                    html_append += '		</div>';
                    html_append += '	</div>';
                    html_append += '</div>';
                   
                }
                $("#generateData").empty();
                $("#generateData").append(html_append);
                return;
            }
        }
        let start_elment, end_elment;
        function myLoop(start_index, keyAdd, end_index) {
            debugger
            start_elment = start_index;
            end_elment = moment(start_elment, 'hh:mm').add(keyAdd, 'minutes');
            if (end_elment >= end_index) {                
                myArray.push(
                    {
                        'start_elment': start_elment,
                        'end_elment': end_index.format("HH:mm"),
                    });
                return myArray;               
            }
            myArray.push(
                {
                    'start_elment': start_elment,
                    'end_elment': end_elment.format("HH:mm"),
                });
            myLoop(end_elment.format("HH:mm"), keyAdd, end_index);

            return myArray;
        }
    </script>
}

