@using Frontend.Resource
@{
    ViewBag.Title = "Store";
    Layout = "_Layout";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 class="pull-left">@Resource.lbl_header_time_frame_detail.ToUpper()</h2>
            </div>
            <div class="body clearfix">
                <form id="form_data" class="formsubmit formdata" method="post" action="" enctype="multipart/form-data">
                    <input type="hidden" id="reference_id" name="reference_id" />
                    <input type="hidden" class="frmData" id="status" name="status" />
                    <input type="hidden" id="id" name="id" />
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-6" style="border-right: 1px solid #d8d5d5;">
                            <div style="padding-right:30px;">
                                <div class="col-md-12 no-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="required">@Resource.lbl_store_title</label>
                                            <div class="form-group">
                                                <div class="form-line selectlist">
                                                    <select class="form-control frmData" required id="store_ref" name="store_ref" style="width:100%">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div style="display: flex;">
                                                <div class="col-md-5">
                                                    <label class="required">@Resource.lbl_time_frame_from</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input class="form-control frmData" required type="time" id="time_from" name="time_from" style="width:100%" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-5">
                                                    <label class="required">@Resource.lbl_time_frame_to</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input class="form-control frmData" required type="time" id="time_to" name="time_to" style="width:100%" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="padding-left:30px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="required">@Resource.lbl_supplier</label>
                                        <div class="form-group">
                                            <div class="form-line selectlist">
                                                <input class="form-control frmData" required type="number" id="amount" name="amount" min="1" style="width:100%" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="required">@Resource.lbl_date</label>
                                        <div class="form-group">
                                            <div class="form-line selectlist">
                                                <input class="form-control frmData" required type="text" id="created_at" name="created_at" min="1" style="width:100%" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" onclick="GoBack()" class="btn waves-effect" style="margin-right:5px">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function() {
            ShowData(GetUrlParam('reference_id'));
        })


        function ShowData(referenceid) {
            GetUrl(apiConfig.api.host_user_service,
                apiConfig.api.timeframe.controller,
                apiConfig.api.timeframe.action.get_function.path,
                apiConfig.api.timeframe.action.get_function.method,
                {
                    reference_id: referenceid
                },
                'fnGetSuccess', 'msgError');
        }

        function fnGetSuccess(result) {
            $('#id').val(result.id);
            $('#reference_id').val(result.reference_id);
            $("#status").val(result.status);
            $("#time_from").val(result.time_from);
            $("#time_to").val(result.time_to);
            $("#amount").val(result.amount);
            $('#store_ref').append(new Option(result.store_name, result.store_ref, true, true)).trigger('change');
            $("input").prop("readonly", true);
            $("select").prop("disabled", true);
            $("#created_at").val(moment(result.created_at).format("YYYY-MM-DD"));
        }

        function GoBack() {
            window.location.href = '/TimeFrame'
        }
    </script>
}


